# Entity Relationship Diagram (ERD)

![](https://storage.googleapis.com/kaggle-media/competitions/home-credit/home_credit.png)

# Libraries

In [1]:
import numpy as np
import pandas as pd
import gc
import time
# https://stackoverflow.com/questions/3693771/trying-to-understand-python-with-statement-and-context-managers
from contextlib import contextmanager
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Helper Functions

## Timer

In [2]:
@contextmanager
def timer(title):
    t0 = time.time()
    yield # runs the with block here
    print('{} - done in {:.0f}s'.format(title, time.time() - t0))

## One-Hot Encoder

In [3]:
# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

## Preprocessing of application train test

In [4]:
def application_train_test(num_rows = None, nan_as_category=False):
    # read and union data
    DIR = '~/kaggle-home-credit'
    df = pd.read_csv(DIR + '/input/application_train.csv', nrows=num_rows)
    test_df = pd.read_csv(DIR + '/input/application_test.csv', nrows=num_rows)
    print('Train shape: {}'.format(df.shape))
    print('Test shape: {}'.format(test_df.shape))
    
    # Union of train and test sets
    df = df.append(test_df).reset_index()
    
    # remove rows without gender
    df = df[df['CODE_GENDER'] != 'XNA']
    
    # identify columns of client provided documents
    docs = [_f for _f in df.columns if 'FLAG_DOC' in _f]
    #print(docs)
    
    # identify columns of real estate and personal documents
    live = [_f for _f in df.columns if ('FLAG_' in _f) & ('FLAG_DOC' not in _f) & ('_FLAG_' not in _f)]
    
    # replace 365243 as NaN
    df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)
    
    # this returns a series of median rather than a dataframe for mapping
    inc_by_org = df[['AMT_INCOME_TOTAL', 'ORGANIZATION_TYPE']].groupby('ORGANIZATION_TYPE').median()['AMT_INCOME_TOTAL']
    
    # Feature Engineering
    df['NEW_CREDIT_TO_ANNUITY_RATIO'] = df['AMT_CREDIT'] / df['AMT_ANNUITY']
    df['NEW_CREDIT_TO_GOODS_RATIO'] = df['AMT_CREDIT'] / df['AMT_GOODS_PRICE']
    # can consider sum instead of kurtosis
    df['NEW_DOC_IND_KURT'] = df[docs].kurtosis(axis=1)
    df['NEW_LIVE_IND_SUM'] = df[live].sum(axis=1)
    # added 1 to avoid division by zero
    df['NEW_INC_PER_CHLD'] = df['AMT_INCOME_TOTAL'] / (1 + df['CNT_CHILDREN'])
    # maps median of median income by organization
    df['NEW_INC_BY_ORG'] = df['ORGANIZATION_TYPE'].map(inc_by_org)
    df['NEW_EMPLOY_TO_BIRTH_RATIO'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
    df['NEW_ANNUITY_TO_INCOME_RATIO'] = df['AMT_ANNUITY'] / (1 + df['AMT_INCOME_TOTAL'])
    df['NEW_SOURCES_PROD'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2'] * df['EXT_SOURCE_3']
    df['NEW_EXT_SOURCES_MEAN'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)
    df['NEW_SCORES_STD'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis=1)
    df['NEW_SCORES_STD'] = df['NEW_SCORES_STD'].fillna(df['NEW_SCORES_STD'].mean())
    df['NEW_CAR_TO_BIRTH_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_BIRTH']
    df['NEW_CAR_TO_EMPLOY_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_EMPLOYED']
    df['NEW_PHONE_TO_BIRTH_RATIO'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_BIRTH']
    df['NEW_PHONE_TO_BIRTH_RATIO_EMPLOYER'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_EMPLOYED']
    df['NEW_CREDIT_TO_INCOME_RATIO'] = df['AMT_CREDIT'] / df['AMT_INCOME_TOTAL']
    
    # Binary encoding of categorical binary features
    for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
        # returns labels and uniques
        df[bin_feature], uniques = pd.factorize(df[bin_feature])

    # Categorical features with One-Hot encode
    df, cat_cols = one_hot_encoder(df, nan_as_category)
    
    # FLAG_DOCUMENT_3 is important hence did not drop it
    dropcolum=['FLAG_DOCUMENT_2','FLAG_DOCUMENT_4',
    'FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7',
    'FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10', 
    'FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16',
    'FLAG_DOCUMENT_17','FLAG_DOCUMENT_18','FLAG_DOCUMENT_19',
    'FLAG_DOCUMENT_20','FLAG_DOCUMENT_21']
    df= df.drop(dropcolum,axis=1)
    del test_df
    gc.collect()
    
    print('Combined shape: {}'.format(df.shape))
    
    return df

## Preprocess Bureau and Balance

In [5]:
def bureau_and_balance(num_rows = 10000, nan_as_category = True):
    DIR = '~/kaggle-home-credit'
    bureau = pd.read_csv(DIR + '/input/bureau.csv', nrows = num_rows)
    bb = pd.read_csv(DIR + '/input/bureau_balance.csv', nrows = num_rows)
    bb, bb_cat = one_hot_encoder(bb, nan_as_category)
    bureau, bureau_cat = one_hot_encoder(bureau, nan_as_category)
    
    # Bureau balance: Perform aggregations and merge with bureau.csv
    bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}
    for col in bb_cat:
        bb_aggregations[col] = ['mean']
    bb_agg = bb.groupby('SK_ID_BUREAU').agg(bb_aggregations)
    bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()])
    bureau = bureau.join(bb_agg, how='left', on='SK_ID_BUREAU')
    bureau.drop(['SK_ID_BUREAU'], axis=1, inplace= True)
    del bb, bb_agg
    gc.collect()
    
    # Bureau and bureau_balance numeric features
    num_aggregations = {
        'DAYS_CREDIT': [ 'mean', 'var'],
        'DAYS_CREDIT_ENDDATE': [ 'mean'],
        'DAYS_CREDIT_UPDATE': ['mean'],
        'CREDIT_DAY_OVERDUE': ['mean'],
        'AMT_CREDIT_MAX_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM': [ 'mean', 'sum'],
        'AMT_CREDIT_SUM_DEBT': [ 'mean', 'sum'],
        'AMT_CREDIT_SUM_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
        'AMT_ANNUITY': ['max', 'mean'],
        'CNT_CREDIT_PROLONG': ['sum'],
        'MONTHS_BALANCE_MIN': ['min'],
        'MONTHS_BALANCE_MAX': ['max'],
        'MONTHS_BALANCE_SIZE': ['mean', 'sum']
    }
    # Bureau and bureau_balance categorical features
    cat_aggregations = {}
    for cat in bureau_cat: cat_aggregations[cat] = ['mean']
    for cat in bb_cat: cat_aggregations[cat + "_MEAN"] = ['mean']
    
    bureau_agg = bureau.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()])
    # Bureau: Active credits - using only numerical aggregations
    active = bureau[bureau['CREDIT_ACTIVE_Active'] == 1]
    active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations)
    active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(active_agg, how='left', on='SK_ID_CURR')
    del active, active_agg
    gc.collect()
    # Bureau: Closed credits - using only numerical aggregations
    closed = bureau[bureau['CREDIT_ACTIVE_Closed'] == 1]
    closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
    closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(closed_agg, how='left', on='SK_ID_CURR')
    del closed, closed_agg, bureau
    gc.collect()
    return bureau_agg

In [6]:
bureau_and_balance()

,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MEAN,BURO_AMT_CREDIT_MAX_OVERDUE_MEAN,BURO_AMT_CREDIT_SUM_MEAN,BURO_AMT_CREDIT_SUM_SUM,BURO_AMT_CREDIT_SUM_DEBT_MEAN,BURO_AMT_CREDIT_SUM_DEBT_SUM,...,CLOSED_AMT_CREDIT_SUM_OVERDUE_MEAN,CLOSED_AMT_CREDIT_SUM_LIMIT_MEAN,CLOSED_AMT_CREDIT_SUM_LIMIT_SUM,CLOSED_AMT_ANNUITY_MAX,CLOSED_AMT_ANNUITY_MEAN,CLOSED_CNT_CREDIT_PROLONG_SUM,CLOSED_MONTHS_BALANCE_MIN_MIN,CLOSED_MONTHS_BALANCE_MAX_MAX,CLOSED_MONTHS_BALANCE_SIZE_MEAN,CLOSED_MONTHS_BALANCE_SIZE_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100053,-2287.714286,2.215852e+05,-1519.333333,-1137.571429,0.0,NaN,9.265564e+04,6.485895e+05,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
100568,-493.857143,1.367698e+05,110.500000,-244.857143,0.0,8178.88500,1.192699e+05,8.348891e+05,6.037136e+04,422599.500,...,0.0,0.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,0.0
100653,-1237.571429,9.864580e+05,-295.333333,-536.285714,0.0,NaN,1.247832e+05,8.734824e+05,6.525306e+04,456771.420,...,0.0,0.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,0.0
100802,-525.000000,NaN,928.000000,-25.000000,0.0,NaN,1.575000e+05,1.575000e+05,1.576305e+05,157630.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100819,-917.555556,3.330211e+05,-305.055556,-487.888889,0.0,NaN,2.321152e+05,4.178074e+06,1.276136e+05,1403749.890,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
100915,-362.000000,NaN,1031.000000,-48.000000,49.0,NaN,1.350000e+05,1.350000e+05,4.500000e+00,4.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101060,-1328.500000,7.790070e+05,-522.500000,-820.750000,0.0,0.00000,2.041439e+05,8.165755e+05,1.022186e+05,408874.320,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
101133,-2385.000000,NaN,-2079.000000,-1536.000000,0.0,15454.17000,7.506000e+04,7.506000e+04,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
101562,-1228.285714,1.223359e+05,-24.400000,-141.857143,0.0,16665.94800,4.217733e+05,2.952413e+06,2.129252e+05,1490476.500,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
101616,-745.666667,3.018813e+05,-8.666667,-384.333333,0.0,1364.01750,7.650390e+05,2.295117e+06,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
101724,-688.500000,6.661250e+04,30.000000,-171.000000,0.0,NaN,1.770300e+05,3.540600e+05,0.000000e+00,0.000,...,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
101788,-865.000000,NaN,-681.000000,-681.000000,0.0,0.00000,6.872427e+04,6.872427e+04,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
102099,-376.000000,8.357500e+04,466.333333,-158.333333,0.0,NaN,2.465610e+05,7.396830e+05,2.629255e+05,525850.965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102617,-784.500000,1.455409e+05,5313.437500,-390.333333,0.0,0.00000,1.402338e+05,2.524208e+06,5.129528e+04,923315.040,...,0.0,0.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,0.0
103173,-792.166667,2.086270e+05,5.600000,-480.000000,0.0,0.00000,1.045575e+05,6.273450e+05,0.000000e+00,0.000,...,0.0,NaN,0.0,NaN,NaN,0.0,-47.0,0.0,32.750000,131.0
103483,-1164.500000,8.350670e+05,-769.500000,-475.500000,0.0,0.00000,5.268150e+04,2.107260e+05,3.378000e+03,10134.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
103953,-917.714286,3.379462e+05,8723.000000,-118.285714,0.0,0.00000,2.576025e+05,1.803218e+06,9.946029e+04,696222.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
104166,-1068.800000,6.787435e+05,-307.900000,-580.800000,0.0,0.00000,7.673634e+05,7.673634e+06,2.670011e+05,1869007.500,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
104261,-587.000000,NaN,872.000000,-6.000000,0.0,NaN,4.500000e+05,4.500000e+05,3.179250e+05,317925.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104308,-1661.111111,6.629459e+05,3094.125000,-486.888889,0.0,0.00000,2.253583e+05,2.028224e+06,1.078208e+05,970387.425,...,0.0,0.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,0.0
104768,-782.000000,8.580500e+05,1230.000000,-14.000000,0.0,0.00000,1.103796e+05,2.207592e+05,3.360074e+04,67201.470,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104807,-477.285714,1.237146e+05,632.600000,-232.714286,0.0,2455.56000,2.974693e+05,2.082285e+06,1.058705e+05,211740.975,...,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
105062,-1350.333333,2.876718e+05,-907.666667,-1069.333333,0.0,2797.45875,2.454224e+05,2.208802e+06,1.857458e+05,1114474.500,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
105240,-882.166667,3.530882e+05,-871.750000,-491.833333,0.0,0.00000,1.125557e+05,6.753343e+05,1.660951e+04,99657.045,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
105282,-2853.000000,NaN,-2487.000000,-1306.000000,0.0,NaN,2.025000e+05,2.025000e+05,0.000000e+00,0.000,...,0.0,0.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,0.0
105458,-773.000000,2.511687e+05,-53.750000,-466.000000,0.0,NaN,1.253250e+05,5.013000e+05,7.912125e+04,316485.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
105932,-1200.157895,6.051404e+05,275.263158,-827.421053,0.0,1692.00000,5.755673e+05,1.093578e+07,7.628906e+03,122062.500,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
106083,-745.142857,3.176414e+04,743.285714,-93.714286,0.0,0.00000,9.321429e+04,6.525000e+05,3.217301e+04,225211.050,...,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
106090,-238.000000,NaN,869.000000,-118.000000,0.0,NaN,1.800000e+05,1.800000e+05,6.616350e+04,66163.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106254,-1145.333333,1.507523e+05,-1054.000000,-875.666667,0.0,NaN,3.680850e+04,1.104255e+05,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451632,-1517.000000,NaN,-421.000000,-36.000000,0.0,NaN,1.350000e+05,1.350000e+05,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
451672,-817.750000,1.489386e+06,477.500000,-537.250000,0.0,0.00000,3.519338e+05,1.407735e+06,1.147658e+05,229531.500,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
451738,-1644.666667,1.323280e+06,-325.666667,-850.000000,0.0,0.00000,6.270000e+05,1.881000e+06,3.790170e+05,1137051.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
452141,-167.000000,2.553800e+04,31005.000000,-8.500000,0.0,NaN,9.450000e+04,1.890000e+05,9.257850e+04,185157.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452150,-1878.200000,6.728571e+05,-1534.333333,-911.400000,0.0,0.00000,1.084089e+05,1.084089e+06,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
452179,-1475.000000,1.052508e+06,-1150.333333,-1080.666667,0.0,0.00000,1.065315e+05,3.195945e+05,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
452436,-1080.000000,6.559335e+05,154.600000,-382.400000,0.0,9409.50000,2.010069e+05,1.005034e+06,6.231150e+04,249246.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
452585,-2030.000000,1.779392e+06,-1620.500000,-1340.750000,0.0,900.00000,2.931525e+04,1.172610e+05,1.800000e+04,54000.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
452618,-839.000000,3.721377e+05,-21.500000,-157.428571,0.0,0.00000,1.350557e+05,9.453902e+05,6.102153e+04,427150.710,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
452711,-1869.000000,6.608850e+05,-864.800000,-1098.600000,0.0,0.00000,2.632052e+05,1.316026e+06,6.586650e+04,329332.500,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
452852,-1110.625000,1.322320e+05,-257.375000,-434.875000,0.0,0.00000,1.293936e+05,1.035148e+06,5.357057e+04,374994.000,...,0.0,0.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,0.0
452945,-775.000000,2.930525e+05,3646.222222,-383.111111,0.0,0.00000,1.660982e+06,1.494884e+07,9.035285e+05,8131756.500,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
453027,-1025.800000,2.865747e+05,-525.750000,-446.200000,0.0,720.00000,2.321474e+05,1.160737e+06,1.398123e+05,699061.500,...,0.0,0.0,0.0,41967.0,13439.25,0.0,NaN,NaN,NaN,0.0
453315,-1225.000000,7.860937e+05,-600.166667,-641.571429,0.0,0.00000,2.842779e+05,1.989945e+06,1.060830e+05,742581.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
453525,-572.000000,1.679851e+05,4269.625000,-228.500000,0.0,0.00000,1.382801e+05,1.106241e+06,1.359956e+04,108796.500,...,0.0,0.0,0.0,27000.0,18877.50,0.0,NaN,NaN,NaN,0.0
453585,-1184.000000,NaN,-88.000000,-16.000000,0.0,NaN,1.800000e+05,1.800000e+05,1.603125e+05,160312.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453655,-1075.000000,5.633070e+05,-411.625000,-472.333333,0.0,910.12500,1.492615e+05,1.343354e+06,5.729575e+04,515661.795,...,0.0,0.0,0.0,5017.5,1672.50,0.0,NaN,NaN,NaN,0.0
454040,-1522.200000,4.887568e+05,-842.100000,-992.900000,0.0,10.44000,1.862545e+05,1.862546e+06,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
454159,-1376.500000,3.294744e+06,-833.000000,-427.000000,0.0,0.00000,3.071250e+05,6.142500e+05,7.472925e+04,149458.500,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
454248,-1062.000000,2.896453e+05,-614.250000,-696.250000,0.0,NaN,1.003984e+05,4.015935e+05,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
454697,-1192.800000,9.132232e+05,2398.750000,-242.000000,132.8,1246.61250,2.709000e+05,1.354500e+06,1.689502e+05,675800.820,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
454813,-716.500000,4.204445e+05,362.500000,-230.500000,0.0,NaN,5.157450e+04,1.031490e+05,0.000000e+00,0.000,...,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
454819,-510.000000,0.000000e+00,27544.000000,-189.500000,0.0,NaN,5.062500e+04,1.012500e+05,0.000000e+00,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455024,-761.000000,NaN,1065.000000,-7.000000,0.0,NaN,1.654106e+06,1.654106e+06,1.141416e+06,1141416.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455046,-520.666667,1.797233e+04,229.666667,-234.666667,0.0,1847.36250,3.444591e+05,1.033377e+06,2.528273e+05,758481.795,...,0.0,0.0,0.0,13500.0,13500.00,0.0,NaN,NaN,NaN,0.0
455171,-660.714286,4.981757e+04,499.800000,-255.428571,0.0,0.00000,3.722143e+05,2.605500e+06,1.045988e+05,627592.500,...,0.0,NaN,0.0,0.0,0.00,0.0,-30.0,0.0,27.333333,82.0
455317,-840.214286,7.194449e+04,133.666667,-557.214286,0.0,0.32400,2.944619e+05,4.122467e+06,6.771960e+04,812635.200,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
456047,-1096.333333,1.632206e+06,267.000000,-236.666667,0.0,0.00000,1.492105e+05,4.476316e+05,5.944403e+04,118888.065,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
456062,-1036.000000,NaN,-670.000000,-768.000000,0.0,NaN,2.169135e+05,2.169135e+05,0.000000e+00,0.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
456116,-1376.500000,3.793205e+05,-1011.500000,-1023.500000,0.0,0.00000,5.279625e+04,1.055925e+05,2.560500e+03,5121.000,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0